{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>



<p>The goal of the client application is to bridge the gap between blood banks and their donors and also promote blood donation to blood banks.  The application provides a faster approach to finding a blood bank to donate blood.</p>
<p>The client application is a web application, which provides blood donors the functionality of registering as a donor and providing all their information. A registered donor can see his/her profile and modify the profile if needed. In addition, donor can see a list of all blood banks and check the blood levels status of each one of the blood banks, as well as the other information (e.g. address, telephone, etc) of a blood bank, based on which the donor can visit the blood bank and donate blood. Also, donor can check all his/her donation history.</p>
<p>The client applications use the BloodAlert API, in the implementation of its features</p>
{% endblock %}
