{% extends "donor_layout.html" %}
{% block donorContent %}

<div style=" margin-top:30px" class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default" style="border-color:#777777">
        <div class="panel-heading" style="background:#777777">
            <h3 class="panel-title" style="color:white"><b>Blood banks if Finland</b></h3>
        </div>
        <ul id="bbanksList" class="list-group"></ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGprWQfGxJIggOzKIkQtkSrsENm5XeIkM"></script>
    <script src="{{url_for('static',filename='scripts/donate.js')}}"></script>
{% endblock %}