{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-4 col-md-3 sidebar">
        <div class="list-group">

            <a href="{{ url_for('profile') }}" class="list-group-item">My Profile</a>
            <a href="{{ url_for('history') }}" class="list-group-item" style="background: darkred; color:white">My History</a>
            <a href="{{ url_for('donate') }}" class="list-group-item">Donate</a>
        </div>
	</div>
    {% block donorContent %}{% endblock %}
</div>

{% endblock %}