{% extends "donor_layout.html" %}
{% block donorContent %}
    <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default" style="border-color:#777777">
        <div class="panel-heading" style="background:darkred">
            <h3 class="panel-title" style="color:white"><b>My Donation History</b></h3>
        </div>
        <ul id="historyList" class="list-group"></ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static',filename='scripts/history.js')}}"></script>
{% endblock %}