{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Blood Alert</h1>
    <p class="lead">The client application is a web application, which provides blood donors the functionality of registering as a donor and providing all their information. A registered donor can see his/her profile and modify the profile if needed. In addition, donor can see a list of all blood banks and check the blood levels status of each one of the blood banks, as well as the other information (e.g. address, telephone, etc) of a blood bank, based on which the donor can visit the blood bank and donate blood. Also, donor can check all his/her donation history.</p>
    <p><a href="{{url_for('about')}}" class="btn btn-danger btn-large">Read More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
       <h2> Some blood levels infographics here </h2>
    </div>
    <div class="col-md-4">
        <h2>Are you donor ? Login</h2>
      

        <form>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" >
            </div>  
            <button type="button" class="btn btn-danger" id="loginDonorButton" style="margin-right:20px">Log in </button>   
        

            <a type="button" class="btn btn-default" href="{{url_for('register')}}">Register</a>     
            
           
        </form>
    </div>
    
</div>

{% endblock %}
