{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Blood Alert</h1>
    <p class="lead">We need more blood to save the world. </p>
    <p><a href="{{url_for('about')}}" class="btn btn-danger btn-large">Read More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8" id="indexBloodLevels">
       <h2> Some blood levels infographics here </h2>
    <div id="bloodLevelsMap" style="width:100%; height:100%; min-width:300px; min-height:500px; margin-top:10px; margin-bottom:10px">
    </div>

    </div>
    <div class="col-md-4" id="DonorLoginFormDiv" >
        <h2>Are you donor ? Login</h2>
      

        <form>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" >
            </div>  
            <button type="button" class="btn btn-danger" id="loginDonorButton" style="margin-right:20px">Log in </button>   
        

            <a type="button" class="btn btn-default" href="{{url_for('register')}}">Register</a>     
            
           
        </form>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGprWQfGxJIggOzKIkQtkSrsENm5XeIkM&libraries=visualization"></script>
{% endblock %}