<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Blood Alert</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='content/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='content/site.css')}}"/>
    
    <script src="{{url_for('static',filename='scripts/modernizr-2.6.2.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/MapClusterer.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGprWQfGxJIggOzKIkQtkSrsENm5XeIkM&libraries=visualization"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('home') }}" class="navbar-brand">Blood Alert</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li id="DonorRegistrationMenu"><a href="{{ url_for('register') }}">Donor Registration</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Blood Alert - save a life</p>
        </footer>
    </div>

    <script src="{{url_for('static',filename='scripts/jquery-1.10.2.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/jquery.cookie.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/bootstrap.datepicker.min.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/respond.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/bloodalert.js')}}"></script>
    
    {% block scripts %}{% endblock %}

</body>
</html>
