{% extends "donor_layout.html" %}
{% block donorContent %}

<div  class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-6 col-md-8" style="margin-left: 20px; margin-bottom: 20px;">
                <h4 id="fullNanme"></h4><br />
                <p><i class="glyphicon glyphicon-gift"></i><span id="birthday"></span></p>
                <p><i class="glyphicon glyphicon-user"></i><span id="gender"></span></p>
                <p><i class="glyphicon glyphicon-tint"></i><span id="bloodTypeID"></span></p>
                <p><i class="glyphicon glyphicon-earphone"></i><span id="phone"></span></p>
                <p><i class="glyphicon glyphicon-map-marker"></i><span id="cityAddress"></span></p>
                <p><i class="glyphicon glyphicon-envelope"></i><span id="email"></span></p><br />             

                <a type="button" class="btn btn-default" href="{{url_for('profileEdit')}}">Edit Profile</a>  
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static',filename='scripts/profile.js')}}"></script>
{% endblock %}