{% extends "donor_layout.html" %}
{% block donorContent %}

<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-6 col-md-8" style="margin-left: 20px; margin-bottom: 20px;">
                <h4 id="fullNanme">FirstName LastName</h4><br />
                <p><i id="birthday" class="glyphicon glyphicon-gift"></i> June 02, 1988</p>
                <p><i id="gender" class="glyphicon glyphicon-user"></i> Male<p/>
                <p><i id="bloodTypeID" class="glyphicon glyphicon-tint"></i> A+<p/>
                <p><i id="phone" class="glyphicon glyphicon-earphone"></i> 0414777000</p>
                <p><i id="cityAddress" class="glyphicon glyphicon-map-marker"></i> City, Address</p>
                <p><i id="email" class="glyphicon glyphicon-envelope"></i> email@example.com</p><br />             

                <a type="button" class="btn btn-default" href="{{url_for('profileEdit')}}">Edit Profile</a>  
            </div>
        </div>
    </div>
</div>


{% endblock %}