{% extends "layout.html" %} {% block content %}

<div class="row">
    <div style=" margin-top:30px" class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-title">Donor Registration Form</div>
            </div>

            <div class="panel-body">

                <form role="form">

                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4 ">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Your first name" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="familyName">Family Name</label>
                        <input type="text" class="form-control" id="familyName" placeholder="Your family name or last name" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="birthDate">Birth Date</label>
                        <input type='text' class="form-control" id='birthDate' placeholder="dd-mm-yyyy" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                                <option value="">Select gender</option>                              
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>                                        
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="telephone">Telephone</label>
                        <input type="text" class="form-control" id="telephone" placeholder="Your telephone" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="email@mail.com" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="bloodTypeId">Blood Type</label>
                        <select class="form-control" id="bloodTypeId">
                                                            
                         </select>
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="city">City</label>
                        <input type='text' class="form-control" id='city' placeholder="Your city" />
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <label for="address">Address</label>
                        <textarea class="form-control" id="address" rows="3"></textarea>
                    </div>
                    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-danger" id="donorRegisterbtn">Register</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
    $(function () {
        $('#birthDate').datepicker({
            format: 'dd-mm-yyyy'
        });
    });

</script>
{% endblock %}